# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
gradle/
modules/core/build/
modules/core/out/
modules/crypt/build/
modules/crypt/out/
modules/cv/build/
modules/cv/out/
modules/db/build/
modules/db/out/
modules/etc/build/
modules/etc/out/
modules/img/build/
modules/img/out/
modules/net/build/
modules/net/out/
modules/serial/build/
modules/serial/out/
modules/term/build/
modules/term/out/
modules/thread/build/
modules/thread/out/
modules/web/build/
modules/web/out/
out/
gradle.properties
