# Created by .ignore support plugin (hsz.mobi)
.gradle/3.4/
modules/crypt/build/classes/
modules/crypt/build/libs/
modules/crypt/build/tmp/compileGroovy/
modules/crypt/build/tmp/compileTestGroovy/
modules/crypt/build/tmp/test/
modules/crypt/out/production/classes/jp/sharelock/crypt/hash/Hash$BasicAlgo.class
modules/crypt/out/production/classes/jp/sharelock/crypt/hash/Hash$_getAlgorithms_closure2$_closure3.class
modules/crypt/out/production/classes/jp/sharelock/crypt/hash/Hash$_getAlgorithms_closure2$_closure4.class
modules/crypt/out/production/classes/jp/sharelock/crypt/hash/Hash$_getAlgorithms_closure2$_closure5.class
modules/crypt/out/production/classes/jp/sharelock/crypt/hash/Hash$_getAlgorithms_closure2.class
modules/crypt/out/test/
modules/db/build/classes/
modules/db/build/libs/
modules/db/build/tmp/compileGroovy/
modules/db/build/tmp/compileTestGroovy/
modules/db/build/tmp/test/
modules/db/out/production/classes/jp/sharelock/db/Data$_toList_closure1.class
modules/db/out/production/classes/jp/sharelock/db/Query$_getSort_closure1.class
modules/db/out/test/classes/jp/sharelock/db/JDBCConnectorTest.class
modules/etc/build/classes/
modules/etc/build/libs/
modules/etc/build/reports/tests/test/classes/LogTest.html
modules/etc/build/reports/tests/test/classes/SysServiceTest.html
modules/etc/build/test-results/test/TEST-LogTest.xml
modules/etc/build/test-results/test/TEST-SysServiceTest.xml
modules/etc/build/tmp/compileGroovy/
modules/etc/build/tmp/compileTestGroovy/
modules/etc/build/tmp/test/
modules/etc/out/
modules/etc/out/production/classes/jp/sharelock/etc/Cache$CacheObj.class
modules/etc/out/production/classes/jp/sharelock/etc/Cache$_closure1.class
modules/etc/out/production/classes/jp/sharelock/etc/Cache$_garbageCollect_closure2.class
modules/etc/out/production/classes/jp/sharelock/etc/Cache$onNotFound.class
modules/etc/out/production/classes/jp/sharelock/etc/Cache.class
modules/etc/out/production/classes/jp/sharelock/etc/CacheObj.class
modules/etc/out/production/classes/jp/sharelock/etc/Command$1.class
modules/etc/out/production/classes/jp/sharelock/etc/Command$Callback.class
modules/etc/out/production/classes/jp/sharelock/etc/Command$_execAsync_closure2.class
modules/etc/out/production/classes/jp/sharelock/etc/Command$_execAsync_closure3.class
modules/etc/out/production/classes/jp/sharelock/etc/Command$_execAsync_closure6.class
modules/etc/out/production/classes/jp/sharelock/etc/Command$_exec_closure1.class
modules/etc/out/production/classes/jp/sharelock/etc/Command$_exec_closure5.class
modules/etc/out/production/classes/jp/sharelock/etc/Command$_wrapCmds_closure4.class
modules/etc/out/production/classes/jp/sharelock/etc/Config$_matchKey_closure2.class
modules/etc/out/production/classes/jp/sharelock/etc/Config$_update_closure1.class
modules/etc/out/production/classes/jp/sharelock/etc/Log$FilePrinter.class
modules/etc/out/production/classes/jp/sharelock/etc/Log$LEVEL.class
modules/etc/out/production/classes/jp/sharelock/etc/Log$Stack.class
modules/etc/out/production/classes/jp/sharelock/etc/Log$_print_closure1$_closure2.class
modules/etc/out/production/classes/jp/sharelock/etc/Log$_print_closure1.class
modules/etc/out/production/classes/jp/sharelock/etc/SysService.class
modules/etc/out/production/classes/jp/sharelock/etc/Version$Source.class
modules/etc/out/production/classes/jp/sharelock/etc/Version.class
modules/etc/out/test/
modules/net/build/classes/
modules/net/build/libs/
modules/net/build/reports/tests/test/classes/
modules/net/build/reports/tests/test/packages/
modules/net/build/resources/
modules/net/build/test-results/test/TEST-SmtpTest.xml
modules/net/build/test-results/test/TEST-TCPClientServerTest.xml
modules/net/build/tmp/compileGroovy/
modules/net/build/tmp/compileTestGroovy/
modules/net/build/tmp/test/
modules/net/out/
modules/web/build/classes/
modules/web/build/libs/
modules/web/build/tmp/compileGroovy/
modules/web/out/production/classes/jp/sharelock/web/LoginConfig.class
modules/web/out/production/classes/jp/sharelock/web/WebService$OutputType.class
modules/web/out/production/classes/jp/sharelock/web/WebService$_getOutput_closure2.class
modules/web/out/production/classes/jp/sharelock/web/WebService$_onAction_closure3$_closure8.class
modules/web/out/production/classes/jp/sharelock/web/WebService$_onAction_closure3.class
modules/web/out/production/classes/jp/sharelock/web/WebService$_start_closure1$_closure5$_closure7.class
modules/web/out/production/classes/jp/sharelock/web/WebService$_start_closure1$_closure6.class
modules/web/out/production/classes/jp/sharelock/web/services/
modules/web/out/test/classes/jp/sharelock/web/samples/LoginServiceExample$Level.class
modules/web/out/test/classes/jp/sharelock/web/samples/LoginServiceExample$__clinit__closure1.class
modules/web/out/test/classes/jp/sharelock/web/samples/LoginServiceExample$__clinit__closure2.class
modules/web/out/test/classes/jp/sharelock/web/samples/LoginServiceExample$__clinit__closure3.class
modules/web/out/test/classes/jp/sharelock/web/samples/LoginServiceExample.class
out/
/modules/etc/build/
/modules/db/build/
/modules/crypt/build/
/modules/net/build/
/modules/web/build/
gradle.properties
